@import "tailwindcss";



@theme {
  /* Primary */
  --color-primary: #003D9B;
  --color-primary-container: #0052CC;

  /* Surface */
  --color-surface-highest: #D7E2FF;
  --color-surface-low: #F1F3FF;
  --color-background: #F9F9FF;

  /* Neutral */
  --color-neutral-dark: #041B3C;
  --color-neutral: #4F5F7B;
  --color-neutral-light: #C3C6D6;

  /* Semantic */
  --color-success: #82F9BE;
  --color-error: #BA1A1A;
  --color-warning: #FFB300;

/* --------------------------------------------- */
 --font-sans: 'Inter', sans-serif;

 --text-display-lg: 56px;
  --text-headline-lg: 32px;
  --text-title-md:18px;
  --text-body-md: 14px;
  --text-label-sm: 11px;


}


.PrimaryAction {
  background: linear-gradient(
    135deg,
    var(--color-primary),
    var(--color-primary-container)
  );
  color: #ffffff; 
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 3px;
  padding-top: 3px;
}

